RUST_LOG=product_data_platform=info,tower_http=info
PORT=3000
# Add Azure OpenAI settings on Monday:
# AZURE_OPENAI_ENDPOINT=
# AZURE_OPENAI_API_KEY=
# AZURE_OPENAI_DEPLOYMENT=


PRODUCT_SOURCE=excel

ONEDRIVE_SITE_ID=
ONEDRIVE_DRIVE_ID=
ONEDRIVE_FOLDER=


GRAPH_TENANT_ID=
GRAPH_CLIENT_ID=
GRAPH_CLIENT_SECRET=